<body style="background-image: url(https://media.istockphoto.com/id/1415835098/photo/blue-abstract-background-with-space-for-design-transition-from-light-to-dark-gradient-elegant.jpg?b=1&s=170667a&w=0&k=20&c=OfK8SADMV0KH6nC53lxMF2YaU_Nw54SnvZnbCDe-Fps=);
background-repeat: no-repeat;  background-attachment: fixed;
background-size: cover;">
    

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" routerLink="dash">JAVA-By-Sarthak</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="dash">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="location">Location</a>
        </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    
  </nav>


<router-outlet></router-outlet>


<!-- footer -->
<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Our Mission-</h5>
  
          <p style="text-align:justify;">
            To bridge the gap between candidates and the corporate sector by creating skilled resources who can build their career in the industry and utilise their skills for the progress of the industry.
            To become a leading institute for creating skilled candidates which sets a benchmark for other to follow.
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">languages</h5>
  
          <p style="text-align:justify;">
            some of such top languages which are used and shall be in use are listed below:
  
          1. Python
  
          2. Java
  
          3. JavaScript
  
          4. C++
  
          5. Swift
  
          6. C#
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>